src/onixcheck/xsd2.1/ONIX_XHTML_Subset_reference.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
**************************************************
*                                                *
*               ONIX INTERNATIONAL               *
*                                                *
*                   XML SCHEMA                   *
*               XHTML SUBSET MODULE              *
*                                                *
*                 Status: RELEASED               *
*            Release date: 2004-11-10            *
*                                                *
*    Original filename: ONIX-INTERNATIONAL.XSD   *
*                                                *
*          Original author: Francis Cave         *
*                                                *
*                (c) 2004 EDItEUR                *
*             http://www.editeur.org/            *
*                                                *
**************************************************



TERMS AND CONDITIONS OF USE OF THE ONIX PRODUCT INFORMATION MESSAGE XML SCHEMA

All ONIX standards and documentation are copyright materials, made available 
free of charge for general use.  If you use the ONIX Product Information 
Message XML Schema, you will be deemed to have accepted these terms and conditions:

1.  You agree that you will not add to, delete from or amend the ONIX Product 
Information Message Schema, any part of the Schema except for strictly internal 
use in your own organisation.

2.  You agree that if you wish to add to, amend, or make extracts of the 
Schema for any purpose that is not strictly internal to your own organisation, 
you will in the first instance notify EDItEUR and allow EDItEUR to review 
and comment on your proposed use, in the interest of securing an orderly 
development of the Schema for the benefit of other users.

If you do not accept these terms, you must not use the ONIX Product Information 
Message Schema.

Full copies of the latest release of this Schema and all associated documentation 
are available from the EDItEUR web site, where may also be found details of 
how to contact EDItEUR for advice on the use of this Schema. The URL for the 
EDItEUR web site is:

http://www.editeur.org/



SCHEMA REVISION HISTORY (IN REVERSE CHRONOLOGICAL ORDER)

2004-11-10: Module for public release based upon the ONIX for Books DTD 
            Release 2.1 Revision 02

-->
<xs:schema xmlns="http://www.editeur.org/onix/2.1/reference" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.editeur.org/onix/2.1/reference" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="a">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="br"/>
				<xs:element ref="span"/>
				<xs:element ref="bdo"/>
				<xs:element ref="object"/>
				<xs:element ref="img"/>
				<xs:element ref="map"/>
				<xs:element ref="tt"/>
				<xs:element ref="i"/>
				<xs:element ref="b"/>
				<xs:element ref="big"/>
				<xs:element ref="small"/>
				<xs:element ref="em"/>
				<xs:element ref="strong"/>
				<xs:element ref="dfn"/>
				<xs:element ref="code"/>
				<xs:element ref="q"/>
				<xs:element ref="sub"/>
				<xs:element ref="sup"/>
				<xs:element ref="samp"/>
				<xs:element ref="kbd"/>
				<xs:element ref="var"/>
				<xs:element ref="cite"/>
				<xs:element ref="abbr"/>
				<xs:element ref="acronym"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
			<xs:attribute name="style" type="xs:string"/>
			<xs:attribute name="title" type="xs:string"/>
			<xs:attribute name="lang" type="xs:NMTOKEN"/>
			<xs:attribute name="dir">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="ltr"/>
						<xs:enumeration value="rtl"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="charset" type="xs:string"/>
			<xs:attribute name="type" type="xs:string"/>
			<xs:attribute name="name" type="xs:NMTOKEN"/>
			<xs:attribute name="href" type="xs:string"/>
			<xs:attribute name="hreflang" type="xs:NMTOKEN"/>
			<xs:attribute name="rel" type="xs:string"/>
			<xs:attribute name="rev" type="xs:string"/>
			<xs:attribute name="accesskey" type="xs:string"/>
			<xs:attribute name="shape" default="rect">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="rect"/>
						<xs:enumeration value="circle"/>
						<xs:enumeration value="poly"/>
						<xs:enumeration value="default"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="coords" type="xs:string"/>
			<xs:attribute name="tabindex" type="xs:string"/>
			<xs:attribute name="onfocus" type="xs:string"/>
			<xs:attribute name="onblur" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="abbr">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="a"/>
				<xs:element ref="br"/>
				<xs:element ref="span"/>
				<xs:element ref="bdo"/>
				<xs:element ref="object"/>
				<xs:element ref="img"/>
				<xs:element ref="map"/>
				<xs:element ref="tt"/>
				<xs:element ref="i"/>
				<xs:element ref="b"/>
				<xs:element ref="big"/>
				<xs:element ref="small"/>
				<xs:element ref="em"/>
				<xs:element ref="strong"/>
				<xs:element ref="dfn"/>
				<xs:element ref="code"/>
				<xs:element ref="q"/>
				<xs:element ref="sub"/>
				<xs:element ref="sup"/>
				<xs:element ref="samp"/>
				<xs:element ref="kbd"/>
				<xs:element ref="var"/>
				<xs:element ref="cite"/>
				<xs:element ref="abbr"/>
				<xs:element ref="acronym"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
			<xs:attribute name="style" type="xs:string"/>
			<xs:attribute name="title" type="xs:string"/>
			<xs:attribute name="lang" type="xs:NMTOKEN"/>
			<xs:attribute name="dir">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="ltr"/>
						<xs:enumeration value="rtl"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="acronym">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="a"/>
				<xs:element ref="br"/>
				<xs:element ref="span"/>
				<xs:element ref="bdo"/>
				<xs:element ref="object"/>
				<xs:element ref="img"/>
				<xs:element ref="map"/>
				<xs:element ref="tt"/>
				<xs:element ref="i"/>
				<xs:element ref="b"/>
				<xs:element ref="big"/>
				<xs:element ref="small"/>
				<xs:element ref="em"/>
				<xs:element ref="strong"/>
				<xs:element ref="dfn"/>
				<xs:element ref="code"/>
				<xs:element ref="q"/>
				<xs:element ref="sub"/>
				<xs:element ref="sup"/>
				<xs:element ref="samp"/>
				<xs:element ref="kbd"/>
				<xs:element ref="var"/>
				<xs:element ref="cite"/>
				<xs:element ref="abbr"/>
				<xs:element ref="acronym"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
			<xs:attribute name="style" type="xs:string"/>
			<xs:attribute name="title" type="xs:string"/>
			<xs:attribute name="lang" type="xs:NMTOKEN"/>
			<xs:attribute name="dir">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="ltr"/>
						<xs:enumeration value="rtl"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="address">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="a"/>
				<xs:element ref="br"/>
				<xs:element ref="span"/>
				<xs:element ref="bdo"/>
				<xs:element ref="object"/>
				<xs:element ref="img"/>
				<xs:element ref="map"/>
				<xs:element ref="tt"/>
				<xs:element ref="i"/>
				<xs:element ref="b"/>
				<xs:element ref="big"/>
				<xs:element ref="small"/>
				<xs:element ref="em"/>
				<xs:element ref="strong"/>
				<xs:element ref="dfn"/>
				<xs:element ref="code"/>
				<xs:element ref="q"/>
				<xs:element ref="sub"/>
				<xs:element ref="sup"/>
				<xs:element ref="samp"/>
				<xs:element ref="kbd"/>
				<xs:element ref="var"/>
				<xs:element ref="cite"/>
				<xs:element ref="abbr"/>
				<xs:element ref="acronym"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
			<xs:attribute name="style" type="xs:string"/>
			<xs:attribute name="title" type="xs:string"/>
			<xs:attribute name="lang" type="xs:NMTOKEN"/>
			<xs:attribute name="dir">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="ltr"/>
						<xs:enumeration value="rtl"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="area">
		<xs:complexType>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
			<xs:attribute name="style" type="xs:string"/>
			<xs:attribute name="title" type="xs:string"/>
			<xs:attribute name="lang" type="xs:NMTOKEN"/>
			<xs:attribute name="dir">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="ltr"/>
						<xs:enumeration value="rtl"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="shape" default="rect">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="rect"/>
						<xs:enumeration value="circle"/>
						<xs:enumeration value="poly"/>
						<xs:enumeration value="default"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="coords" type="xs:string"/>
			<xs:attribute name="href" type="xs:string"/>
			<xs:attribute name="nohref">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="nohref"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="alt" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="b">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="a"/>
				<xs:element ref="br"/>
				<xs:element ref="span"/>
				<xs:element ref="bdo"/>
				<xs:element ref="object"/>
				<xs:element ref="img"/>
				<xs:element ref="map"/>
				<xs:element ref="tt"/>
				<xs:element ref="i"/>
				<xs:element ref="b"/>
				<xs:element ref="big"/>
				<xs:element ref="small"/>
				<xs:element ref="em"/>
				<xs:element ref="strong"/>
				<xs:element ref="dfn"/>
				<xs:element ref="code"/>
				<xs:element ref="q"/>
				<xs:element ref="sub"/>
				<xs:element ref="sup"/>
				<xs:element ref="samp"/>
				<xs:element ref="kbd"/>
				<xs:element ref="var"/>
				<xs:element ref="cite"/>
				<xs:element ref="abbr"/>
				<xs:element ref="acronym"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
			<xs:attribute name="style" type="xs:string"/>
			<xs:attribute name="title" type="xs:string"/>
			<xs:attribute name="lang" type="xs:NMTOKEN"/>
			<xs:attribute name="dir">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="ltr"/>
						<xs:enumeration value="rtl"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="bdo">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="a"/>
				<xs:element ref="br"/>
				<xs:element ref="span"/>
				<xs:element ref="bdo"/>
				<xs:element ref="object"/>
				<xs:element ref="img"/>
				<xs:element ref="map"/>
				<xs:element ref="tt"/>
				<xs:element ref="i"/>
				<xs:element ref="b"/>
				<xs:element ref="big"/>
				<xs:element ref="small"/>
				<xs:element ref="em"/>
				<xs:element ref="strong"/>
				<xs:element ref="dfn"/>
				<xs:element ref="code"/>
				<xs:element ref="q"/>
				<xs:element ref="sub"/>
				<xs:element ref="sup"/>
				<xs:element ref="samp"/>
				<xs:element ref="kbd"/>
				<xs:element ref="var"/>
				<xs:element ref="cite"/>
				<xs:element ref="abbr"/>
				<xs:element ref="acronym"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
			<xs:attribute name="style" type="xs:string"/>
			<xs:attribute name="title" type="xs:string"/>
			<xs:attribute name="lang" type="xs:NMTOKEN"/>
			<xs:attribute name="dir" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="ltr"/>
						<xs:enumeration value="rtl"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="big">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="a"/>
				<xs:element ref="br"/>
				<xs:element ref="span"/>
				<xs:element ref="bdo"/>
				<xs:element ref="object"/>
				<xs:element ref="img"/>
				<xs:element ref="map"/>
				<xs:element ref="tt"/>
				<xs:element ref="i"/>
				<xs:element ref="b"/>
				<xs:element ref="big"/>
				<xs:element ref="small"/>
				<xs:element ref="em"/>
				<xs:element ref="strong"/>
				<xs:element ref="dfn"/>
				<xs:element ref="code"/>
				<xs:element ref="q"/>
				<xs:element ref="sub"/>
				<xs:element ref="sup"/>
				<xs:element ref="samp"/>
				<xs:element ref="kbd"/>
				<xs:element ref="var"/>
				<xs:element ref="cite"/>
				<xs:element ref="abbr"/>
				<xs:element ref="acronym"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
			<xs:attribute name="style" type="xs:string"/>
			<xs:attribute name="title" type="xs:string"/>
			<xs:attribute name="lang" type="xs:NMTOKEN"/>
			<xs:attribute name="dir">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="ltr"/>
						<xs:enumeration value="rtl"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="blockquote">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="p"/>
				<xs:element ref="h1"/>
				<xs:element ref="h2"/>
				<xs:element ref="h3"/>
				<xs:element ref="h4"/>
				<xs:element ref="h5"/>
				<xs:element ref="h6"/>
				<xs:element ref="div"/>
				<xs:element ref="ul"/>
				<xs:element ref="ol"/>
				<xs:element ref="dl"/>
				<xs:element ref="pre"/>
				<xs:element ref="hr"/>
				<xs:element ref="blockquote"/>
				<xs:element ref="address"/>
				<xs:element ref="table"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
			<xs:attribute name="style" type="xs:string"/>
			<xs:attribute name="title" type="xs:string"/>
			<xs:attribute name="lang" type="xs:NMTOKEN"/>
			<xs:attribute name="dir">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="ltr"/>
						<xs:enumeration value="rtl"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="cite" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="br">
		<xs:complexType>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
			<xs:attribute name="style" type="xs:string"/>
			<xs:attribute name="title" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="caption">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="a"/>
				<xs:element ref="br"/>
				<xs:element ref="span"/>
				<xs:element ref="bdo"/>
				<xs:element ref="object"/>
				<xs:element ref="img"/>
				<xs:element ref="map"/>
				<xs:element ref="tt"/>
				<xs:element ref="i"/>
				<xs:element ref="b"/>
				<xs:element ref="big"/>
				<xs:element ref="small"/>
				<xs:element ref="em"/>
				<xs:element ref="strong"/>
				<xs:element ref="dfn"/>
				<xs:element ref="code"/>
				<xs:element ref="q"/>
				<xs:element ref="sub"/>
				<xs:element ref="sup"/>
				<xs:element ref="samp"/>
				<xs:element ref="kbd"/>
				<xs:element ref="var"/>
				<xs:element ref="cite"/>
				<xs:element ref="abbr"/>
				<xs:element ref="acronym"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
			<xs:attribute name="style" type="xs:string"/>
			<xs:attribute name="title" type="xs:string"/>
			<xs:attribute name="lang" type="xs:NMTOKEN"/>
			<xs:attribute name="dir">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="ltr"/>
						<xs:enumeration value="rtl"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="cite">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="a"/>
				<xs:element ref="br"/>
				<xs:element ref="span"/>
				<xs:element ref="bdo"/>
				<xs:element ref="object"/>
				<xs:element ref="img"/>
				<xs:element ref="map"/>
				<xs:element ref="tt"/>
				<xs:element ref="i"/>
				<xs:element ref="b"/>
				<xs:element ref="big"/>
				<xs:element ref="small"/>
				<xs:element ref="em"/>
				<xs:element ref="strong"/>
				<xs:element ref="dfn"/>
				<xs:element ref="code"/>
				<xs:element ref="q"/>
				<xs:element ref="sub"/>
				<xs:element ref="sup"/>
				<xs:element ref="samp"/>
				<xs:element ref="kbd"/>
				<xs:element ref="var"/>
				<xs:element ref="cite"/>
				<xs:element ref="abbr"/>
				<xs:element ref="acronym"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
			<xs:attribute name="style" type="xs:string"/>
			<xs:attribute name="title" type="xs:string"/>
			<xs:attribute name="lang" type="xs:NMTOKEN"/>
			<xs:attribute name="dir">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="ltr"/>
						<xs:enumeration value="rtl"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="code">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="a"/>
				<xs:element ref="br"/>
				<xs:element ref="span"/>
				<xs:element ref="bdo"/>
				<xs:element ref="object"/>
				<xs:element ref="img"/>
				<xs:element ref="map"/>
				<xs:element ref="tt"/>
				<xs:element ref="i"/>
				<xs:element ref="b"/>
				<xs:element ref="big"/>
				<xs:element ref="small"/>
				<xs:element ref="em"/>
				<xs:element ref="strong"/>
				<xs:element ref="dfn"/>
				<xs:element ref="code"/>
				<xs:element ref="q"/>
				<xs:element ref="sub"/>
				<xs:element ref="sup"/>
				<xs:element ref="samp"/>
				<xs:element ref="kbd"/>
				<xs:element ref="var"/>
				<xs:element ref="cite"/>
				<xs:element ref="abbr"/>
				<xs:element ref="acronym"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
			<xs:attribute name="style" type="xs:string"/>
			<xs:attribute name="title" type="xs:string"/>
			<xs:attribute name="lang" type="xs:NMTOKEN"/>
			<xs:attribute name="dir">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="ltr"/>
						<xs:enumeration value="rtl"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="col">
		<xs:complexType>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
			<xs:attribute name="style" type="xs:string"/>
			<xs:attribute name="title" type="xs:string"/>
			<xs:attribute name="lang" type="xs:NMTOKEN"/>
			<xs:attribute name="dir">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="ltr"/>
						<xs:enumeration value="rtl"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="span" type="xs:string" default="1"/>
			<xs:attribute name="width" type="xs:string"/>
			<xs:attribute name="align">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="left"/>
						<xs:enumeration value="center"/>
						<xs:enumeration value="right"/>
						<xs:enumeration value="justify"/>
						<xs:enumeration value="char"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="char" type="xs:string"/>
			<xs:attribute name="charoff" type="xs:string"/>
			<xs:attribute name="valign">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="top"/>
						<xs:enumeration value="middle"/>
						<xs:enumeration value="bottom"/>
						<xs:enumeration value="baseline"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="colgroup">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="col"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
			<xs:attribute name="style" type="xs:string"/>
			<xs:attribute name="title" type="xs:string"/>
			<xs:attribute name="lang" type="xs:NMTOKEN"/>
			<xs:attribute name="dir">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="ltr"/>
						<xs:enumeration value="rtl"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="span" type="xs:string" default="1"/>
			<xs:attribute name="width" type="xs:string"/>
			<xs:attribute name="align">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="left"/>
						<xs:enumeration value="center"/>
						<xs:enumeration value="right"/>
						<xs:enumeration value="justify"/>
						<xs:enumeration value="char"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="char" type="xs:string"/>
			<xs:attribute name="charoff" type="xs:string"/>
			<xs:attribute name="valign">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="top"/>
						<xs:enumeration value="middle"/>
						<xs:enumeration value="bottom"/>
						<xs:enumeration value="baseline"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="dd">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="p"/>
				<xs:element ref="h1"/>
				<xs:element ref="h2"/>
				<xs:element ref="h3"/>
				<xs:element ref="h4"/>
				<xs:element ref="h5"/>
				<xs:element ref="h6"/>
				<xs:element ref="div"/>
				<xs:element ref="ul"/>
				<xs:element ref="ol"/>
				<xs:element ref="dl"/>
				<xs:element ref="pre"/>
				<xs:element ref="hr"/>
				<xs:element ref="blockquote"/>
				<xs:element ref="address"/>
				<xs:element ref="table"/>
				<xs:element ref="a"/>
				<xs:element ref="br"/>
				<xs:element ref="span"/>
				<xs:element ref="bdo"/>
				<xs:element ref="object"/>
				<xs:element ref="img"/>
				<xs:element ref="map"/>
				<xs:element ref="tt"/>
				<xs:element ref="i"/>
				<xs:element ref="b"/>
				<xs:element ref="big"/>
				<xs:element ref="small"/>
				<xs:element ref="em"/>
				<xs:element ref="strong"/>
				<xs:element ref="dfn"/>
				<xs:element ref="code"/>
				<xs:element ref="q"/>
				<xs:element ref="sub"/>
				<xs:element ref="sup"/>
				<xs:element ref="samp"/>
				<xs:element ref="kbd"/>
				<xs:element ref="var"/>
				<xs:element ref="cite"/>
				<xs:element ref="abbr"/>
				<xs:element ref="acronym"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
			<xs:attribute name="style" type="xs:string"/>
			<xs:attribute name="title" type="xs:string"/>
			<xs:attribute name="lang" type="xs:NMTOKEN"/>
			<xs:attribute name="dir">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="ltr"/>
						<xs:enumeration value="rtl"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="dfn">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="a"/>
				<xs:element ref="br"/>
				<xs:element ref="span"/>
				<xs:element ref="bdo"/>
				<xs:element ref="object"/>
				<xs:element ref="img"/>
				<xs:element ref="map"/>
				<xs:element ref="tt"/>
				<xs:element ref="i"/>
				<xs:element ref="b"/>
				<xs:element ref="big"/>
				<xs:element ref="small"/>
				<xs:element ref="em"/>
				<xs:element ref="strong"/>
				<xs:element ref="dfn"/>
				<xs:element ref="code"/>
				<xs:element ref="q"/>
				<xs:element ref="sub"/>
				<xs:element ref="sup"/>
				<xs:element ref="samp"/>
				<xs:element ref="kbd"/>
				<xs:element ref="var"/>
				<xs:element ref="cite"/>
				<xs:element ref="abbr"/>
				<xs:element ref="acronym"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
			<xs:attribute name="style" type="xs:string"/>
			<xs:attribute name="title" type="xs:string"/>
			<xs:attribute name="lang" type="xs:NMTOKEN"/>
			<xs:attribute name="dir">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="ltr"/>
						<xs:enumeration value="rtl"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="div">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="p"/>
				<xs:element ref="h1"/>
				<xs:element ref="h2"/>
				<xs:element ref="h3"/>
				<xs:element ref="h4"/>
				<xs:element ref="h5"/>
				<xs:element ref="h6"/>
				<xs:element ref="div"/>
				<xs:element ref="ul"/>
				<xs:element ref="ol"/>
				<xs:element ref="dl"/>
				<xs:element ref="pre"/>
				<xs:element ref="hr"/>
				<xs:element ref="blockquote"/>
				<xs:element ref="address"/>
				<xs:element ref="table"/>
				<xs:element ref="a"/>
				<xs:element ref="br"/>
				<xs:element ref="span"/>
				<xs:element ref="bdo"/>
				<xs:element ref="object"/>
				<xs:element ref="img"/>
				<xs:element ref="map"/>
				<xs:element ref="tt"/>
				<xs:element ref="i"/>
				<xs:element ref="b"/>
				<xs:element ref="big"/>
				<xs:element ref="small"/>
				<xs:element ref="em"/>
				<xs:element ref="strong"/>
				<xs:element ref="dfn"/>
				<xs:element ref="code"/>
				<xs:element ref="q"/>
				<xs:element ref="sub"/>
				<xs:element ref="sup"/>
				<xs:element ref="samp"/>
				<xs:element ref="kbd"/>
				<xs:element ref="var"/>
				<xs:element ref="cite"/>
				<xs:element ref="abbr"/>
				<xs:element ref="acronym"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
			<xs:attribute name="style" type="xs:string"/>
			<xs:attribute name="title" type="xs:string"/>
			<xs:attribute name="lang" type="xs:NMTOKEN"/>
			<xs:attribute name="dir">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="ltr"/>
						<xs:enumeration value="rtl"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="dl">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="dt"/>
				<xs:element ref="dd"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
			<xs:attribute name="style" type="xs:string"/>
			<xs:attribute name="title" type="xs:string"/>
			<xs:attribute name="lang" type="xs:NMTOKEN"/>
			<xs:attribute name="dir">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="ltr"/>
						<xs:enumeration value="rtl"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="dt">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="a"/>
				<xs:element ref="br"/>
				<xs:element ref="span"/>
				<xs:element ref="bdo"/>
				<xs:element ref="object"/>
				<xs:element ref="img"/>
				<xs:element ref="map"/>
				<xs:element ref="tt"/>
				<xs:element ref="i"/>
				<xs:element ref="b"/>
				<xs:element ref="big"/>
				<xs:element ref="small"/>
				<xs:element ref="em"/>
				<xs:element ref="strong"/>
				<xs:element ref="dfn"/>
				<xs:element ref="code"/>
				<xs:element ref="q"/>
				<xs:element ref="sub"/>
				<xs:element ref="sup"/>
				<xs:element ref="samp"/>
				<xs:element ref="kbd"/>
				<xs:element ref="var"/>
				<xs:element ref="cite"/>
				<xs:element ref="abbr"/>
				<xs:element ref="acronym"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
			<xs:attribute name="style" type="xs:string"/>
			<xs:attribute name="title" type="xs:string"/>
			<xs:attribute name="lang" type="xs:NMTOKEN"/>
			<xs:attribute name="dir">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="ltr"/>
						<xs:enumeration value="rtl"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="em">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="a"/>
				<xs:element ref="br"/>
				<xs:element ref="span"/>
				<xs:element ref="bdo"/>
				<xs:element ref="object"/>
				<xs:element ref="img"/>
				<xs:element ref="map"/>
				<xs:element ref="tt"/>
				<xs:element ref="i"/>
				<xs:element ref="b"/>
				<xs:element ref="big"/>
				<xs:element ref="small"/>
				<xs:element ref="em"/>
				<xs:element ref="strong"/>
				<xs:element ref="dfn"/>
				<xs:element ref="code"/>
				<xs:element ref="q"/>
				<xs:element ref="sub"/>
				<xs:element ref="sup"/>
				<xs:element ref="samp"/>
				<xs:element ref="kbd"/>
				<xs:element ref="var"/>
				<xs:element ref="cite"/>
				<xs:element ref="abbr"/>
				<xs:element ref="acronym"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
			<xs:attribute name="style" type="xs:string"/>
			<xs:attribute name="title" type="xs:string"/>
			<xs:attribute name="lang" type="xs:NMTOKEN"/>
			<xs:attribute name="dir">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="ltr"/>
						<xs:enumeration value="rtl"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="h1">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="a"/>
				<xs:element ref="br"/>
				<xs:element ref="span"/>
				<xs:element ref="bdo"/>
				<xs:element ref="object"/>
				<xs:element ref="img"/>
				<xs:element ref="map"/>
				<xs:element ref="tt"/>
				<xs:element ref="i"/>
				<xs:element ref="b"/>
				<xs:element ref="big"/>
				<xs:element ref="small"/>
				<xs:element ref="em"/>
				<xs:element ref="strong"/>
				<xs:element ref="dfn"/>
				<xs:element ref="code"/>
				<xs:element ref="q"/>
				<xs:element ref="sub"/>
				<xs:element ref="sup"/>
				<xs:element ref="samp"/>
				<xs:element ref="kbd"/>
				<xs:element ref="var"/>
				<xs:element ref="cite"/>
				<xs:element ref="abbr"/>
				<xs:element ref="acronym"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
			<xs:attribute name="style" type="xs:string"/>
			<xs:attribute name="title" type="xs:string"/>
			<xs:attribute name="lang" type="xs:NMTOKEN"/>
			<xs:attribute name="dir">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="ltr"/>
						<xs:enumeration value="rtl"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="h2">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="a"/>
				<xs:element ref="br"/>
				<xs:element ref="span"/>
				<xs:element ref="bdo"/>
				<xs:element ref="object"/>
				<xs:element ref="img"/>
				<xs:element ref="map"/>
				<xs:element ref="tt"/>
				<xs:element ref="i"/>
				<xs:element ref="b"/>
				<xs:element ref="big"/>
				<xs:element ref="small"/>
				<xs:element ref="em"/>
				<xs:element ref="strong"/>
				<xs:element ref="dfn"/>
				<xs:element ref="code"/>
				<xs:element ref="q"/>
				<xs:element ref="sub"/>
				<xs:element ref="sup"/>
				<xs:element ref="samp"/>
				<xs:element ref="kbd"/>
				<xs:element ref="var"/>
				<xs:element ref="cite"/>
				<xs:element ref="abbr"/>
				<xs:element ref="acronym"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
			<xs:attribute name="style" type="xs:string"/>
			<xs:attribute name="title" type="xs:string"/>
			<xs:attribute name="lang" type="xs:NMTOKEN"/>
			<xs:attribute name="dir">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="ltr"/>
						<xs:enumeration value="rtl"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="h3">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="a"/>
				<xs:element ref="br"/>
				<xs:element ref="span"/>
				<xs:element ref="bdo"/>
				<xs:element ref="object"/>
				<xs:element ref="img"/>
				<xs:element ref="map"/>
				<xs:element ref="tt"/>
				<xs:element ref="i"/>
				<xs:element ref="b"/>
				<xs:element ref="big"/>
				<xs:element ref="small"/>
				<xs:element ref="em"/>
				<xs:element ref="strong"/>
				<xs:element ref="dfn"/>
				<xs:element ref="code"/>
				<xs:element ref="q"/>
				<xs:element ref="sub"/>
				<xs:element ref="sup"/>
				<xs:element ref="samp"/>
				<xs:element ref="kbd"/>
				<xs:element ref="var"/>
				<xs:element ref="cite"/>
				<xs:element ref="abbr"/>
				<xs:element ref="acronym"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
			<xs:attribute name="style" type="xs:string"/>
			<xs:attribute name="title" type="xs:string"/>
			<xs:attribute name="lang" type="xs:NMTOKEN"/>
			<xs:attribute name="dir">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="ltr"/>
						<xs:enumeration value="rtl"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="h4">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="a"/>
				<xs:element ref="br"/>
				<xs:element ref="span"/>
				<xs:element ref="bdo"/>
				<xs:element ref="object"/>
				<xs:element ref="img"/>
				<xs:element ref="map"/>
				<xs:element ref="tt"/>
				<xs:element ref="i"/>
				<xs:element ref="b"/>
				<xs:element ref="big"/>
				<xs:element ref="small"/>
				<xs:element ref="em"/>
				<xs:element ref="strong"/>
				<xs:element ref="dfn"/>
				<xs:element ref="code"/>
				<xs:element ref="q"/>
				<xs:element ref="sub"/>
				<xs:element ref="sup"/>
				<xs:element ref="samp"/>
				<xs:element ref="kbd"/>
				<xs:element ref="var"/>
				<xs:element ref="cite"/>
				<xs:element ref="abbr"/>
				<xs:element ref="acronym"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
			<xs:attribute name="style" type="xs:string"/>
			<xs:attribute name="title" type="xs:string"/>
			<xs:attribute name="lang" type="xs:NMTOKEN"/>
			<xs:attribute name="dir">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="ltr"/>
						<xs:enumeration value="rtl"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="h5">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="a"/>
				<xs:element ref="br"/>
				<xs:element ref="span"/>
				<xs:element ref="bdo"/>
				<xs:element ref="object"/>
				<xs:element ref="img"/>
				<xs:element ref="map"/>
				<xs:element ref="tt"/>
				<xs:element ref="i"/>
				<xs:element ref="b"/>
				<xs:element ref="big"/>
				<xs:element ref="small"/>
				<xs:element ref="em"/>
				<xs:element ref="strong"/>
				<xs:element ref="dfn"/>
				<xs:element ref="code"/>
				<xs:element ref="q"/>
				<xs:element ref="sub"/>
				<xs:element ref="sup"/>
				<xs:element ref="samp"/>
				<xs:element ref="kbd"/>
				<xs:element ref="var"/>
				<xs:element ref="cite"/>
				<xs:element ref="abbr"/>
				<xs:element ref="acronym"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
			<xs:attribute name="style" type="xs:string"/>
			<xs:attribute name="title" type="xs:string"/>
			<xs:attribute name="lang" type="xs:NMTOKEN"/>
			<xs:attribute name="dir">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="ltr"/>
						<xs:enumeration value="rtl"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="h6">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="a"/>
				<xs:element ref="br"/>
				<xs:element ref="span"/>
				<xs:element ref="bdo"/>
				<xs:element ref="object"/>
				<xs:element ref="img"/>
				<xs:element ref="map"/>
				<xs:element ref="tt"/>
				<xs:element ref="i"/>
				<xs:element ref="b"/>
				<xs:element ref="big"/>
				<xs:element ref="small"/>
				<xs:element ref="em"/>
				<xs:element ref="strong"/>
				<xs:element ref="dfn"/>
				<xs:element ref="code"/>
				<xs:element ref="q"/>
				<xs:element ref="sub"/>
				<xs:element ref="sup"/>
				<xs:element ref="samp"/>
				<xs:element ref="kbd"/>
				<xs:element ref="var"/>
				<xs:element ref="cite"/>
				<xs:element ref="abbr"/>
				<xs:element ref="acronym"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
			<xs:attribute name="style" type="xs:string"/>
			<xs:attribute name="title" type="xs:string"/>
			<xs:attribute name="lang" type="xs:NMTOKEN"/>
			<xs:attribute name="dir">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="ltr"/>
						<xs:enumeration value="rtl"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="hr">
		<xs:complexType>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
			<xs:attribute name="style" type="xs:string"/>
			<xs:attribute name="title" type="xs:string"/>
			<xs:attribute name="lang" type="xs:NMTOKEN"/>
			<xs:attribute name="dir">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="ltr"/>
						<xs:enumeration value="rtl"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="i">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="a"/>
				<xs:element ref="br"/>
				<xs:element ref="span"/>
				<xs:element ref="bdo"/>
				<xs:element ref="object"/>
				<xs:element ref="img"/>
				<xs:element ref="map"/>
				<xs:element ref="tt"/>
				<xs:element ref="i"/>
				<xs:element ref="b"/>
				<xs:element ref="big"/>
				<xs:element ref="small"/>
				<xs:element ref="em"/>
				<xs:element ref="strong"/>
				<xs:element ref="dfn"/>
				<xs:element ref="code"/>
				<xs:element ref="q"/>
				<xs:element ref="sub"/>
				<xs:element ref="sup"/>
				<xs:element ref="samp"/>
				<xs:element ref="kbd"/>
				<xs:element ref="var"/>
				<xs:element ref="cite"/>
				<xs:element ref="abbr"/>
				<xs:element ref="acronym"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
			<xs:attribute name="style" type="xs:string"/>
			<xs:attribute name="title" type="xs:string"/>
			<xs:attribute name="lang" type="xs:NMTOKEN"/>
			<xs:attribute name="dir">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="ltr"/>
						<xs:enumeration value="rtl"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="img">
		<xs:complexType>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
			<xs:attribute name="style" type="xs:string"/>
			<xs:attribute name="title" type="xs:string"/>
			<xs:attribute name="lang" type="xs:NMTOKEN"/>
			<xs:attribute name="dir">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="ltr"/>
						<xs:enumeration value="rtl"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="src" type="xs:string" use="required"/>
			<xs:attribute name="alt" type="xs:string" use="required"/>
			<xs:attribute name="longdesc" type="xs:string"/>
			<xs:attribute name="height" type="xs:string"/>
			<xs:attribute name="width" type="xs:string"/>
			<xs:attribute name="usemap" type="xs:string"/>
			<xs:attribute name="ismap">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="ismap"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="kbd">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="a"/>
				<xs:element ref="br"/>
				<xs:element ref="span"/>
				<xs:element ref="bdo"/>
				<xs:element ref="object"/>
				<xs:element ref="img"/>
				<xs:element ref="map"/>
				<xs:element ref="tt"/>
				<xs:element ref="i"/>
				<xs:element ref="b"/>
				<xs:element ref="big"/>
				<xs:element ref="small"/>
				<xs:element ref="em"/>
				<xs:element ref="strong"/>
				<xs:element ref="dfn"/>
				<xs:element ref="code"/>
				<xs:element ref="q"/>
				<xs:element ref="sub"/>
				<xs:element ref="sup"/>
				<xs:element ref="samp"/>
				<xs:element ref="kbd"/>
				<xs:element ref="var"/>
				<xs:element ref="cite"/>
				<xs:element ref="abbr"/>
				<xs:element ref="acronym"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
			<xs:attribute name="style" type="xs:string"/>
			<xs:attribute name="title" type="xs:string"/>
			<xs:attribute name="lang" type="xs:NMTOKEN"/>
			<xs:attribute name="dir">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="ltr"/>
						<xs:enumeration value="rtl"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="li">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="p"/>
				<xs:element ref="h1"/>
				<xs:element ref="h2"/>
				<xs:element ref="h3"/>
				<xs:element ref="h4"/>
				<xs:element ref="h5"/>
				<xs:element ref="h6"/>
				<xs:element ref="div"/>
				<xs:element ref="ul"/>
				<xs:element ref="ol"/>
				<xs:element ref="dl"/>
				<xs:element ref="pre"/>
				<xs:element ref="hr"/>
				<xs:element ref="blockquote"/>
				<xs:element ref="address"/>
				<xs:element ref="table"/>
				<xs:element ref="a"/>
				<xs:element ref="br"/>
				<xs:element ref="span"/>
				<xs:element ref="bdo"/>
				<xs:element ref="object"/>
				<xs:element ref="img"/>
				<xs:element ref="map"/>
				<xs:element ref="tt"/>
				<xs:element ref="i"/>
				<xs:element ref="b"/>
				<xs:element ref="big"/>
				<xs:element ref="small"/>
				<xs:element ref="em"/>
				<xs:element ref="strong"/>
				<xs:element ref="dfn"/>
				<xs:element ref="code"/>
				<xs:element ref="q"/>
				<xs:element ref="sub"/>
				<xs:element ref="sup"/>
				<xs:element ref="samp"/>
				<xs:element ref="kbd"/>
				<xs:element ref="var"/>
				<xs:element ref="cite"/>
				<xs:element ref="abbr"/>
				<xs:element ref="acronym"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
			<xs:attribute name="style" type="xs:string"/>
			<xs:attribute name="title" type="xs:string"/>
			<xs:attribute name="lang" type="xs:NMTOKEN"/>
			<xs:attribute name="dir">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="ltr"/>
						<xs:enumeration value="rtl"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="map">
		<xs:complexType>
			<xs:choice>
				<xs:choice maxOccurs="unbounded">
					<xs:element ref="p"/>
					<xs:element ref="h1"/>
					<xs:element ref="h2"/>
					<xs:element ref="h3"/>
					<xs:element ref="h4"/>
					<xs:element ref="h5"/>
					<xs:element ref="h6"/>
					<xs:element ref="div"/>
					<xs:element ref="ul"/>
					<xs:element ref="ol"/>
					<xs:element ref="dl"/>
					<xs:element ref="pre"/>
					<xs:element ref="hr"/>
					<xs:element ref="blockquote"/>
					<xs:element ref="address"/>
					<xs:element ref="table"/>
				</xs:choice>
				<xs:element ref="area" maxOccurs="unbounded"/>
			</xs:choice>
			<xs:attribute name="lang" type="xs:NMTOKEN"/>
			<xs:attribute name="dir">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="ltr"/>
						<xs:enumeration value="rtl"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="id" type="xs:ID" use="required"/>
			<xs:attribute name="class" type="xs:string"/>
			<xs:attribute name="style" type="xs:string"/>
			<xs:attribute name="title" type="xs:string"/>
			<xs:attribute name="name" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="object">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="param"/>
				<xs:element ref="p"/>
				<xs:element ref="h1"/>
				<xs:element ref="h2"/>
				<xs:element ref="h3"/>
				<xs:element ref="h4"/>
				<xs:element ref="h5"/>
				<xs:element ref="h6"/>
				<xs:element ref="div"/>
				<xs:element ref="ul"/>
				<xs:element ref="ol"/>
				<xs:element ref="dl"/>
				<xs:element ref="pre"/>
				<xs:element ref="hr"/>
				<xs:element ref="blockquote"/>
				<xs:element ref="address"/>
				<xs:element ref="table"/>
				<xs:element ref="a"/>
				<xs:element ref="br"/>
				<xs:element ref="span"/>
				<xs:element ref="bdo"/>
				<xs:element ref="object"/>
				<xs:element ref="img"/>
				<xs:element ref="map"/>
				<xs:element ref="tt"/>
				<xs:element ref="i"/>
				<xs:element ref="b"/>
				<xs:element ref="big"/>
				<xs:element ref="small"/>
				<xs:element ref="em"/>
				<xs:element ref="strong"/>
				<xs:element ref="dfn"/>
				<xs:element ref="code"/>
				<xs:element ref="q"/>
				<xs:element ref="sub"/>
				<xs:element ref="sup"/>
				<xs:element ref="samp"/>
				<xs:element ref="kbd"/>
				<xs:element ref="var"/>
				<xs:element ref="cite"/>
				<xs:element ref="abbr"/>
				<xs:element ref="acronym"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
			<xs:attribute name="style" type="xs:string"/>
			<xs:attribute name="title" type="xs:string"/>
			<xs:attribute name="lang" type="xs:NMTOKEN"/>
			<xs:attribute name="dir">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="ltr"/>
						<xs:enumeration value="rtl"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="declare">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="declare"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="classid" type="xs:string"/>
			<xs:attribute name="codebase" type="xs:string"/>
			<xs:attribute name="data" type="xs:string"/>
			<xs:attribute name="type" type="xs:string"/>
			<xs:attribute name="codetype" type="xs:string"/>
			<xs:attribute name="archive" type="xs:string"/>
			<xs:attribute name="standby" type="xs:string"/>
			<xs:attribute name="height" type="xs:string"/>
			<xs:attribute name="width" type="xs:string"/>
			<xs:attribute name="usemap" type="xs:string"/>
			<xs:attribute name="name" type="xs:NMTOKEN"/>
			<xs:attribute name="tabindex" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ol">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="li"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
			<xs:attribute name="style" type="xs:string"/>
			<xs:attribute name="title" type="xs:string"/>
			<xs:attribute name="lang" type="xs:NMTOKEN"/>
			<xs:attribute name="dir">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="ltr"/>
						<xs:enumeration value="rtl"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="p">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="a"/>
				<xs:element ref="br"/>
				<xs:element ref="span"/>
				<xs:element ref="bdo"/>
				<xs:element ref="object"/>
				<xs:element ref="img"/>
				<xs:element ref="map"/>
				<xs:element ref="tt"/>
				<xs:element ref="i"/>
				<xs:element ref="b"/>
				<xs:element ref="big"/>
				<xs:element ref="small"/>
				<xs:element ref="em"/>
				<xs:element ref="strong"/>
				<xs:element ref="dfn"/>
				<xs:element ref="code"/>
				<xs:element ref="q"/>
				<xs:element ref="sub"/>
				<xs:element ref="sup"/>
				<xs:element ref="samp"/>
				<xs:element ref="kbd"/>
				<xs:element ref="var"/>
				<xs:element ref="cite"/>
				<xs:element ref="abbr"/>
				<xs:element ref="acronym"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
			<xs:attribute name="style" type="xs:string"/>
			<xs:attribute name="title" type="xs:string"/>
			<xs:attribute name="lang" type="xs:NMTOKEN"/>
			<xs:attribute name="dir">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="ltr"/>
						<xs:enumeration value="rtl"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="param">
		<xs:complexType>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="name" type="xs:string"/>
			<xs:attribute name="value" type="xs:string"/>
			<xs:attribute name="valuetype" default="data">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="data"/>
						<xs:enumeration value="ref"/>
						<xs:enumeration value="object"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="type" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="pre">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="a"/>
				<xs:element ref="br"/>
				<xs:element ref="span"/>
				<xs:element ref="bdo"/>
				<xs:element ref="map"/>
				<xs:element ref="tt"/>
				<xs:element ref="i"/>
				<xs:element ref="b"/>
				<xs:element ref="em"/>
				<xs:element ref="strong"/>
				<xs:element ref="dfn"/>
				<xs:element ref="code"/>
				<xs:element ref="q"/>
				<xs:element ref="sub"/>
				<xs:element ref="sup"/>
				<xs:element ref="samp"/>
				<xs:element ref="kbd"/>
				<xs:element ref="var"/>
				<xs:element ref="cite"/>
				<xs:element ref="abbr"/>
				<xs:element ref="acronym"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
			<xs:attribute name="style" type="xs:string"/>
			<xs:attribute name="title" type="xs:string"/>
			<xs:attribute name="lang" type="xs:NMTOKEN"/>
			<xs:attribute name="dir">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="ltr"/>
						<xs:enumeration value="rtl"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="q">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="a"/>
				<xs:element ref="br"/>
				<xs:element ref="span"/>
				<xs:element ref="bdo"/>
				<xs:element ref="object"/>
				<xs:element ref="img"/>
				<xs:element ref="map"/>
				<xs:element ref="tt"/>
				<xs:element ref="i"/>
				<xs:element ref="b"/>
				<xs:element ref="big"/>
				<xs:element ref="small"/>
				<xs:element ref="em"/>
				<xs:element ref="strong"/>
				<xs:element ref="dfn"/>
				<xs:element ref="code"/>
				<xs:element ref="q"/>
				<xs:element ref="sub"/>
				<xs:element ref="sup"/>
				<xs:element ref="samp"/>
				<xs:element ref="kbd"/>
				<xs:element ref="var"/>
				<xs:element ref="cite"/>
				<xs:element ref="abbr"/>
				<xs:element ref="acronym"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
			<xs:attribute name="style" type="xs:string"/>
			<xs:attribute name="title" type="xs:string"/>
			<xs:attribute name="lang" type="xs:NMTOKEN"/>
			<xs:attribute name="dir">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="ltr"/>
						<xs:enumeration value="rtl"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="cite" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="samp">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="a"/>
				<xs:element ref="br"/>
				<xs:element ref="span"/>
				<xs:element ref="bdo"/>
				<xs:element ref="object"/>
				<xs:element ref="img"/>
				<xs:element ref="map"/>
				<xs:element ref="tt"/>
				<xs:element ref="i"/>
				<xs:element ref="b"/>
				<xs:element ref="big"/>
				<xs:element ref="small"/>
				<xs:element ref="em"/>
				<xs:element ref="strong"/>
				<xs:element ref="dfn"/>
				<xs:element ref="code"/>
				<xs:element ref="q"/>
				<xs:element ref="sub"/>
				<xs:element ref="sup"/>
				<xs:element ref="samp"/>
				<xs:element ref="kbd"/>
				<xs:element ref="var"/>
				<xs:element ref="cite"/>
				<xs:element ref="abbr"/>
				<xs:element ref="acronym"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
			<xs:attribute name="style" type="xs:string"/>
			<xs:attribute name="title" type="xs:string"/>
			<xs:attribute name="lang" type="xs:NMTOKEN"/>
			<xs:attribute name="dir">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="ltr"/>
						<xs:enumeration value="rtl"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="small">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="a"/>
				<xs:element ref="br"/>
				<xs:element ref="span"/>
				<xs:element ref="bdo"/>
				<xs:element ref="object"/>
				<xs:element ref="img"/>
				<xs:element ref="map"/>
				<xs:element ref="tt"/>
				<xs:element ref="i"/>
				<xs:element ref="b"/>
				<xs:element ref="big"/>
				<xs:element ref="small"/>
				<xs:element ref="em"/>
				<xs:element ref="strong"/>
				<xs:element ref="dfn"/>
				<xs:element ref="code"/>
				<xs:element ref="q"/>
				<xs:element ref="sub"/>
				<xs:element ref="sup"/>
				<xs:element ref="samp"/>
				<xs:element ref="kbd"/>
				<xs:element ref="var"/>
				<xs:element ref="cite"/>
				<xs:element ref="abbr"/>
				<xs:element ref="acronym"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
			<xs:attribute name="style" type="xs:string"/>
			<xs:attribute name="title" type="xs:string"/>
			<xs:attribute name="lang" type="xs:NMTOKEN"/>
			<xs:attribute name="dir">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="ltr"/>
						<xs:enumeration value="rtl"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="span">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="a"/>
				<xs:element ref="br"/>
				<xs:element ref="span"/>
				<xs:element ref="bdo"/>
				<xs:element ref="object"/>
				<xs:element ref="img"/>
				<xs:element ref="map"/>
				<xs:element ref="tt"/>
				<xs:element ref="i"/>
				<xs:element ref="b"/>
				<xs:element ref="big"/>
				<xs:element ref="small"/>
				<xs:element ref="em"/>
				<xs:element ref="strong"/>
				<xs:element ref="dfn"/>
				<xs:element ref="code"/>
				<xs:element ref="q"/>
				<xs:element ref="sub"/>
				<xs:element ref="sup"/>
				<xs:element ref="samp"/>
				<xs:element ref="kbd"/>
				<xs:element ref="var"/>
				<xs:element ref="cite"/>
				<xs:element ref="abbr"/>
				<xs:element ref="acronym"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
			<xs:attribute name="style" type="xs:string"/>
			<xs:attribute name="title" type="xs:string"/>
			<xs:attribute name="lang" type="xs:NMTOKEN"/>
			<xs:attribute name="dir">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="ltr"/>
						<xs:enumeration value="rtl"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="strong">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="a"/>
				<xs:element ref="br"/>
				<xs:element ref="span"/>
				<xs:element ref="bdo"/>
				<xs:element ref="object"/>
				<xs:element ref="img"/>
				<xs:element ref="map"/>
				<xs:element ref="tt"/>
				<xs:element ref="i"/>
				<xs:element ref="b"/>
				<xs:element ref="big"/>
				<xs:element ref="small"/>
				<xs:element ref="em"/>
				<xs:element ref="strong"/>
				<xs:element ref="dfn"/>
				<xs:element ref="code"/>
				<xs:element ref="q"/>
				<xs:element ref="sub"/>
				<xs:element ref="sup"/>
				<xs:element ref="samp"/>
				<xs:element ref="kbd"/>
				<xs:element ref="var"/>
				<xs:element ref="cite"/>
				<xs:element ref="abbr"/>
				<xs:element ref="acronym"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
			<xs:attribute name="style" type="xs:string"/>
			<xs:attribute name="title" type="xs:string"/>
			<xs:attribute name="lang" type="xs:NMTOKEN"/>
			<xs:attribute name="dir">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="ltr"/>
						<xs:enumeration value="rtl"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="sub">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="a"/>
				<xs:element ref="br"/>
				<xs:element ref="span"/>
				<xs:element ref="bdo"/>
				<xs:element ref="object"/>
				<xs:element ref="img"/>
				<xs:element ref="map"/>
				<xs:element ref="tt"/>
				<xs:element ref="i"/>
				<xs:element ref="b"/>
				<xs:element ref="big"/>
				<xs:element ref="small"/>
				<xs:element ref="em"/>
				<xs:element ref="strong"/>
				<xs:element ref="dfn"/>
				<xs:element ref="code"/>
				<xs:element ref="q"/>
				<xs:element ref="sub"/>
				<xs:element ref="sup"/>
				<xs:element ref="samp"/>
				<xs:element ref="kbd"/>
				<xs:element ref="var"/>
				<xs:element ref="cite"/>
				<xs:element ref="abbr"/>
				<xs:element ref="acronym"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
			<xs:attribute name="style" type="xs:string"/>
			<xs:attribute name="title" type="xs:string"/>
			<xs:attribute name="lang" type="xs:NMTOKEN"/>
			<xs:attribute name="dir">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="ltr"/>
						<xs:enumeration value="rtl"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="sup">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="a"/>
				<xs:element ref="br"/>
				<xs:element ref="span"/>
				<xs:element ref="bdo"/>
				<xs:element ref="object"/>
				<xs:element ref="img"/>
				<xs:element ref="map"/>
				<xs:element ref="tt"/>
				<xs:element ref="i"/>
				<xs:element ref="b"/>
				<xs:element ref="big"/>
				<xs:element ref="small"/>
				<xs:element ref="em"/>
				<xs:element ref="strong"/>
				<xs:element ref="dfn"/>
				<xs:element ref="code"/>
				<xs:element ref="q"/>
				<xs:element ref="sub"/>
				<xs:element ref="sup"/>
				<xs:element ref="samp"/>
				<xs:element ref="kbd"/>
				<xs:element ref="var"/>
				<xs:element ref="cite"/>
				<xs:element ref="abbr"/>
				<xs:element ref="acronym"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
			<xs:attribute name="style" type="xs:string"/>
			<xs:attribute name="title" type="xs:string"/>
			<xs:attribute name="lang" type="xs:NMTOKEN"/>
			<xs:attribute name="dir">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="ltr"/>
						<xs:enumeration value="rtl"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="table">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="caption" minOccurs="0"/>
				<xs:choice>
					<xs:element ref="col" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="colgroup" minOccurs="0" maxOccurs="unbounded"/>
				</xs:choice>
				<xs:element ref="thead" minOccurs="0"/>
				<xs:element ref="tfoot" minOccurs="0"/>
				<xs:choice>
					<xs:element ref="tbody" maxOccurs="unbounded"/>
					<xs:element ref="tr" maxOccurs="unbounded"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
			<xs:attribute name="style" type="xs:string"/>
			<xs:attribute name="title" type="xs:string"/>
			<xs:attribute name="lang" type="xs:NMTOKEN"/>
			<xs:attribute name="dir">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="ltr"/>
						<xs:enumeration value="rtl"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="summary" type="xs:string"/>
			<xs:attribute name="width" type="xs:string"/>
			<xs:attribute name="border" type="xs:string"/>
			<xs:attribute name="frame">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="void"/>
						<xs:enumeration value="above"/>
						<xs:enumeration value="below"/>
						<xs:enumeration value="hsides"/>
						<xs:enumeration value="lhs"/>
						<xs:enumeration value="rhs"/>
						<xs:enumeration value="vsides"/>
						<xs:enumeration value="box"/>
						<xs:enumeration value="border"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="rules">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="none"/>
						<xs:enumeration value="groups"/>
						<xs:enumeration value="rows"/>
						<xs:enumeration value="cols"/>
						<xs:enumeration value="all"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="cellspacing" type="xs:string"/>
			<xs:attribute name="cellpadding" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="tbody">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="tr"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
			<xs:attribute name="style" type="xs:string"/>
			<xs:attribute name="title" type="xs:string"/>
			<xs:attribute name="lang" type="xs:NMTOKEN"/>
			<xs:attribute name="dir">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="ltr"/>
						<xs:enumeration value="rtl"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="align">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="left"/>
						<xs:enumeration value="center"/>
						<xs:enumeration value="right"/>
						<xs:enumeration value="justify"/>
						<xs:enumeration value="char"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="char" type="xs:string"/>
			<xs:attribute name="charoff" type="xs:string"/>
			<xs:attribute name="valign">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="top"/>
						<xs:enumeration value="middle"/>
						<xs:enumeration value="bottom"/>
						<xs:enumeration value="baseline"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="td">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="p"/>
				<xs:element ref="h1"/>
				<xs:element ref="h2"/>
				<xs:element ref="h3"/>
				<xs:element ref="h4"/>
				<xs:element ref="h5"/>
				<xs:element ref="h6"/>
				<xs:element ref="div"/>
				<xs:element ref="ul"/>
				<xs:element ref="ol"/>
				<xs:element ref="dl"/>
				<xs:element ref="pre"/>
				<xs:element ref="hr"/>
				<xs:element ref="blockquote"/>
				<xs:element ref="address"/>
				<xs:element ref="table"/>
				<xs:element ref="a"/>
				<xs:element ref="br"/>
				<xs:element ref="span"/>
				<xs:element ref="bdo"/>
				<xs:element ref="object"/>
				<xs:element ref="img"/>
				<xs:element ref="map"/>
				<xs:element ref="tt"/>
				<xs:element ref="i"/>
				<xs:element ref="b"/>
				<xs:element ref="big"/>
				<xs:element ref="small"/>
				<xs:element ref="em"/>
				<xs:element ref="strong"/>
				<xs:element ref="dfn"/>
				<xs:element ref="code"/>
				<xs:element ref="q"/>
				<xs:element ref="sub"/>
				<xs:element ref="sup"/>
				<xs:element ref="samp"/>
				<xs:element ref="kbd"/>
				<xs:element ref="var"/>
				<xs:element ref="cite"/>
				<xs:element ref="abbr"/>
				<xs:element ref="acronym"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
			<xs:attribute name="style" type="xs:string"/>
			<xs:attribute name="title" type="xs:string"/>
			<xs:attribute name="lang" type="xs:NMTOKEN"/>
			<xs:attribute name="dir">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="ltr"/>
						<xs:enumeration value="rtl"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="abbr" type="xs:string"/>
			<xs:attribute name="axis" type="xs:string"/>
			<xs:attribute name="headers" type="xs:IDREFS"/>
			<xs:attribute name="scope">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="row"/>
						<xs:enumeration value="col"/>
						<xs:enumeration value="rowgroup"/>
						<xs:enumeration value="colgroup"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="rowspan" type="xs:string" default="1"/>
			<xs:attribute name="colspan" type="xs:string" default="1"/>
			<xs:attribute name="align">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="left"/>
						<xs:enumeration value="center"/>
						<xs:enumeration value="right"/>
						<xs:enumeration value="justify"/>
						<xs:enumeration value="char"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="char" type="xs:string"/>
			<xs:attribute name="charoff" type="xs:string"/>
			<xs:attribute name="valign">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="top"/>
						<xs:enumeration value="middle"/>
						<xs:enumeration value="bottom"/>
						<xs:enumeration value="baseline"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="tfoot">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="tr"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
			<xs:attribute name="style" type="xs:string"/>
			<xs:attribute name="title" type="xs:string"/>
			<xs:attribute name="lang" type="xs:NMTOKEN"/>
			<xs:attribute name="dir">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="ltr"/>
						<xs:enumeration value="rtl"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="align">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="left"/>
						<xs:enumeration value="center"/>
						<xs:enumeration value="right"/>
						<xs:enumeration value="justify"/>
						<xs:enumeration value="char"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="char" type="xs:string"/>
			<xs:attribute name="charoff" type="xs:string"/>
			<xs:attribute name="valign">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="top"/>
						<xs:enumeration value="middle"/>
						<xs:enumeration value="bottom"/>
						<xs:enumeration value="baseline"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="th">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="p"/>
				<xs:element ref="h1"/>
				<xs:element ref="h2"/>
				<xs:element ref="h3"/>
				<xs:element ref="h4"/>
				<xs:element ref="h5"/>
				<xs:element ref="h6"/>
				<xs:element ref="div"/>
				<xs:element ref="ul"/>
				<xs:element ref="ol"/>
				<xs:element ref="dl"/>
				<xs:element ref="pre"/>
				<xs:element ref="hr"/>
				<xs:element ref="blockquote"/>
				<xs:element ref="address"/>
				<xs:element ref="table"/>
				<xs:element ref="a"/>
				<xs:element ref="br"/>
				<xs:element ref="span"/>
				<xs:element ref="bdo"/>
				<xs:element ref="object"/>
				<xs:element ref="img"/>
				<xs:element ref="map"/>
				<xs:element ref="tt"/>
				<xs:element ref="i"/>
				<xs:element ref="b"/>
				<xs:element ref="big"/>
				<xs:element ref="small"/>
				<xs:element ref="em"/>
				<xs:element ref="strong"/>
				<xs:element ref="dfn"/>
				<xs:element ref="code"/>
				<xs:element ref="q"/>
				<xs:element ref="sub"/>
				<xs:element ref="sup"/>
				<xs:element ref="samp"/>
				<xs:element ref="kbd"/>
				<xs:element ref="var"/>
				<xs:element ref="cite"/>
				<xs:element ref="abbr"/>
				<xs:element ref="acronym"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
			<xs:attribute name="style" type="xs:string"/>
			<xs:attribute name="title" type="xs:string"/>
			<xs:attribute name="lang" type="xs:NMTOKEN"/>
			<xs:attribute name="dir">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="ltr"/>
						<xs:enumeration value="rtl"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="abbr" type="xs:string"/>
			<xs:attribute name="axis" type="xs:string"/>
			<xs:attribute name="headers" type="xs:IDREFS"/>
			<xs:attribute name="scope">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="row"/>
						<xs:enumeration value="col"/>
						<xs:enumeration value="rowgroup"/>
						<xs:enumeration value="colgroup"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="rowspan" type="xs:string" default="1"/>
			<xs:attribute name="colspan" type="xs:string" default="1"/>
			<xs:attribute name="align">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="left"/>
						<xs:enumeration value="center"/>
						<xs:enumeration value="right"/>
						<xs:enumeration value="justify"/>
						<xs:enumeration value="char"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="char" type="xs:string"/>
			<xs:attribute name="charoff" type="xs:string"/>
			<xs:attribute name="valign">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="top"/>
						<xs:enumeration value="middle"/>
						<xs:enumeration value="bottom"/>
						<xs:enumeration value="baseline"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="thead">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="tr"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
			<xs:attribute name="style" type="xs:string"/>
			<xs:attribute name="title" type="xs:string"/>
			<xs:attribute name="lang" type="xs:NMTOKEN"/>
			<xs:attribute name="dir">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="ltr"/>
						<xs:enumeration value="rtl"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="align">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="left"/>
						<xs:enumeration value="center"/>
						<xs:enumeration value="right"/>
						<xs:enumeration value="justify"/>
						<xs:enumeration value="char"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="char" type="xs:string"/>
			<xs:attribute name="charoff" type="xs:string"/>
			<xs:attribute name="valign">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="top"/>
						<xs:enumeration value="middle"/>
						<xs:enumeration value="bottom"/>
						<xs:enumeration value="baseline"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="tr">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="th"/>
				<xs:element ref="td"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
			<xs:attribute name="style" type="xs:string"/>
			<xs:attribute name="title" type="xs:string"/>
			<xs:attribute name="lang" type="xs:NMTOKEN"/>
			<xs:attribute name="dir">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="ltr"/>
						<xs:enumeration value="rtl"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="align">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="left"/>
						<xs:enumeration value="center"/>
						<xs:enumeration value="right"/>
						<xs:enumeration value="justify"/>
						<xs:enumeration value="char"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="char" type="xs:string"/>
			<xs:attribute name="charoff" type="xs:string"/>
			<xs:attribute name="valign">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="top"/>
						<xs:enumeration value="middle"/>
						<xs:enumeration value="bottom"/>
						<xs:enumeration value="baseline"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="tt">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="a"/>
				<xs:element ref="br"/>
				<xs:element ref="span"/>
				<xs:element ref="bdo"/>
				<xs:element ref="object"/>
				<xs:element ref="img"/>
				<xs:element ref="map"/>
				<xs:element ref="tt"/>
				<xs:element ref="i"/>
				<xs:element ref="b"/>
				<xs:element ref="big"/>
				<xs:element ref="small"/>
				<xs:element ref="em"/>
				<xs:element ref="strong"/>
				<xs:element ref="dfn"/>
				<xs:element ref="code"/>
				<xs:element ref="q"/>
				<xs:element ref="sub"/>
				<xs:element ref="sup"/>
				<xs:element ref="samp"/>
				<xs:element ref="kbd"/>
				<xs:element ref="var"/>
				<xs:element ref="cite"/>
				<xs:element ref="abbr"/>
				<xs:element ref="acronym"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
			<xs:attribute name="style" type="xs:string"/>
			<xs:attribute name="title" type="xs:string"/>
			<xs:attribute name="lang" type="xs:NMTOKEN"/>
			<xs:attribute name="dir">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="ltr"/>
						<xs:enumeration value="rtl"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="ul">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="li"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
			<xs:attribute name="style" type="xs:string"/>
			<xs:attribute name="title" type="xs:string"/>
			<xs:attribute name="lang" type="xs:NMTOKEN"/>
			<xs:attribute name="dir">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="ltr"/>
						<xs:enumeration value="rtl"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="var">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="a"/>
				<xs:element ref="br"/>
				<xs:element ref="span"/>
				<xs:element ref="bdo"/>
				<xs:element ref="object"/>
				<xs:element ref="img"/>
				<xs:element ref="map"/>
				<xs:element ref="tt"/>
				<xs:element ref="i"/>
				<xs:element ref="b"/>
				<xs:element ref="big"/>
				<xs:element ref="small"/>
				<xs:element ref="em"/>
				<xs:element ref="strong"/>
				<xs:element ref="dfn"/>
				<xs:element ref="code"/>
				<xs:element ref="q"/>
				<xs:element ref="sub"/>
				<xs:element ref="sup"/>
				<xs:element ref="samp"/>
				<xs:element ref="kbd"/>
				<xs:element ref="var"/>
				<xs:element ref="cite"/>
				<xs:element ref="abbr"/>
				<xs:element ref="acronym"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="class" type="xs:string"/>
			<xs:attribute name="style" type="xs:string"/>
			<xs:attribute name="title" type="xs:string"/>
			<xs:attribute name="lang" type="xs:NMTOKEN"/>
			<xs:attribute name="dir">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="ltr"/>
						<xs:enumeration value="rtl"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
